@import url('https://fonts.googleapis.com/css?family=Nunito:900&display=swap');

:root {
  --main-color: white
}

html,
body {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100%;
}

.container {
  align-items: center;
  display: flex;
  height: 10rem;
  justify-content: center;
  width: 40rem;
}

span {
  color: var(--main-color);
  font-family: 'Product Sans', sans-serif;
  font-size: 5vw;
  margin: 0 -0.6rem;
}

span:first-of-type {
  margin-right: -0.7rem;
}

svg {
  height: 5rem;
  transform: translatey(-0.15rem);
}

svg #circlegroup {
  animation: spin 0.5s linear forwards infinite;
  transform-origin: center;
  stroke: var(--main-color);
  stroke-opacity: 0.75;
  stroke-dasharray: 1300;
}

svg #firstCircle,
svg #secondCircle {
  animation: loading 4s ease-in-out forwards infinite;
}

svg #secondCircle {
  transform-origin: center;
  transform: scale(-1);
}

@keyframes loading {
  0% {
    stroke-dashoffset: 1750;
  }

  90%,
  100% {
    stroke-dashoffset: 3889;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

body,
h1 {
  font-family: "Raleway", sans-serif
}

body,
html {
  height: 100%;
  background-color: black;
  text-align: center;
  position: center;
  color: #fff;
}

.wrap {
  text-align: center !important;
}

.roundimage {
  display: block;
  margin: 0 auto;
  margin-top: : 50%;
  margin-bottom: 1vw;
  border-radius: 500px;
  max-width: 15vw;
  height: auto;
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.2), 0 18px 60px 0 rgba(0, 0, 0, 0.19);
}

.icons {
  font-size: 4vw !important;
}

.icons i {
  transition: all .1s ease-in-out;
}

.icons i:hover {
  transform: scale(1.05);
  text-shadow: 0 0 1vw black;
}

.horiz_line {
  float: bottom;
  position: top !important;
}

.smalltext {
  font-size: 2vw !important;
  padding: 0;
  margin: 0;
}

.link:hover {
  text-decoration: underline;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #212121;
  opacity: 0.25;
  color: #212121;
}

.w3-display-middle {
  position: center !important;
  width: 75% !important;
  padding: 0px !important;
  font-size: 4vw;
}

.typewrite {
  padding: 0px !important;
  font-size: 5vw !important;
}

.w3-border-white {
  margin: auto;
  width: 7.5%;
  margin-top: 2.5%;
  margin-bottom: 5%;
}

.video-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}

#vidtop-content {
  top: 0;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 50%;
  font-size: 5vw !important;
  transition: visibility 0s 2s, opacity 2s linear;
}

/*screen*/
@media (min-aspect-ratio: 10/9) {
  .video-foreground {
    width: 300%;
    left: -100%;
  }

  #pill {
    border: 3.75px solid white !important;
  }
}

/*mobile*/
@media (max-aspect-ratio: 9/9) {
  .video-foreground {
    width: 200vh;
    left: -100%;
  }

  .container {
    width: 20vw;
  }

  #pill {
    border: 4px solid white !important;
  }

  .typewrite {
    font-size: 2.75vh;
  }

  .icons {
    font-size: 7vw !important;
  }

  .roundimage {
    max-width: 35vw;
  }
}

@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

* {
  color: #fff;
  text-decoration: none;
  font-size: 125%;
  font-family: Product Sans;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@-webkit-keyframes blink {
  50% {
    border-color: rgba(0, 0, 0, 0);
  }
}